:root {
  --first-color: #6096B4;
  --second-color: #BDCDD6;
  --third-color: #93BFCF;
  --fourth-color: #FFFFFF;

  --text-color: black;
  --shadow-color: #292828;
  --shadow-hover-login: rgb(24, 105, 167);
  --button-hover-login: #494c5713;
}

html {
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: auto;
  background-color: var(--first-color);
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ////////////////////////////////////////////////////////////////////////// */
/*                                Tittle CSS                                  */
/* ////////////////////////////////////////////////////////////////////////// */

.heading {
  z-index: 2;
  height: 70px;
  width: 100%;

  box-shadow: 0 1px 5px var(--shadow-color);
  align-items: center;
  justify-content: space-between;
  background-color: var(--first-color);
}

.heading-padding {
  margin: 0px 10px;
}

.heading-title {
  padding-left: 15px;
  font-size: 1.5em;
}

.search-bar {
  resize: none;
  outline: none;
  border: none;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  box-shadow: 0 1px 5px var(--shadow-color);
  background-color: var(--fourth-color);
  width: 700px;
  height: 50px;

  font-size: 1.2em;
  font-family: inherit;
  padding-left: 20px;
}

.search-bar::-webkit-search-cancel-button {
  margin-right: 20px;
}

.search-btn {
  height: 50px;
  width: 50px;
  resize: none;
  outline: none;
  border: none;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  box-shadow: 0 1px 5px var(--shadow-color);
  background-color: var(--fourth-color);
  cursor: pointer;

  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}

.search-btn:hover {
  background-color: var(--third-color);
}

.rounded-btn {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 5px 5px;

  background-color: var(--first-color);
  border: none;
  outline: none;
  resize: none;
  font-family: inherit;
  cursor: pointer;
}

.rounded-btn:hover {
  background-color: var(--third-color);
}

/* ////////////////////////////////////////////////////////////////////////// */
/*                                 Menu CSS                                   */
/* ////////////////////////////////////////////////////////////////////////// */

.div-menu {
  position: fixed;
  width: auto;
  height: 100vh;
  margin-top: 71px;
  box-shadow: 0 1px 5px var(--shadow-color);
  background-color: var(--first-color);
}

.list-menu {
  padding-top: 22px;
  padding-left: 10px;
  padding-right: 10px;
}

.list-menu li {
  padding-bottom: 10px;
}

.animated-btn { 
  display: flex;
  align-items: center;
  padding-left: 12px;

  height: 50px;
  width: 50px;
  margin: 0px 5px;
  border-radius: 7px;
  color: var(--first-color);
  background-color: var(--fourth-color);
  box-shadow: 0 1px 5px var(--shadow-color);
  transition: width 0.5s ease;
  cursor: pointer;

  border: none;
  outline: none;
  resize: none;
  font-family: inherit;
}

.animated-btn p {
  padding-left: 30%;
}

.animated-btn:hover {
  width: 200px;
}

.git-btn {
  position: fixed;
  bottom: 20px;

  width: 50px;
  height: 50px;
  margin: 0px 5px;
  padding-top: 12px;

  border-radius: 7px;
  box-shadow: 0 1px 5px var(--shadow-color);
  background-color: var(--fourth-color);
  border: none;
  outline: none;
  resize: none;

  font-family: inherit;
  text-align: center;
  text-decoration: none;
  color: var(--first-color);
}

.git-btn:hover {
  position: fixed;
  transition: height 0.2s ease;
  height: 60px;
  bottom: 25px;
}

/* ////////////////////////////////////////////////////////////////////////// */
/*                                Content CSS                                 */
/* ////////////////////////////////////////////////////////////////////////// */

.div-content {
  width: 100%;
  margin-top: 64px;
  margin-left: 80px;
  background-color: var(--first-color);
}

.note {
  background: var(--fourth-color);
  border-radius: 7px;
  box-shadow: 0 2px 5px var(--shadow-color);
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}

.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}

.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: var(--first-color);
  background-color: var(--third-color);
  border-radius: 7px;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}

.note button:hover {
  background-color: var(--second-color);
}

form.create-note {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: var(--fourth-color);
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px var(--shadow-color);
}

form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
  background-color: var(--fourth-color);
}

form.create-note .create-note {
  position: absolute;
  right: 20px;
  bottom: -18px;
  background: var(--third-color);
  color: var(--first-color);
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

form.create-note .close-note {
  position: absolute;
  right: 70px;
  bottom: -18px;
  background: var(--third-color);
  color: var(--first-color);
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

form.create-note button:hover {
  background-color: var(--second-color);
}

/* ////////////////////////////////////////////////////////////////////////// */
/*                                 Login CSS                                  */
/* ////////////////////////////////////////////////////////////////////////// */

.login-logo {
  position: relative;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.login-large-text {
  color: var(--text-color);
  font-size: 24px;
  font-family: "Google Sans","Noto Sans Myanmar UI",arial,sans-serif;
  font-weight: 400;
  line-height: 1.3333;
}

.login-small-text {
  padding-bottom: 1px;
  padding-top: 7px;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.1px;
  line-height: 1.5;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex-column {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.sign-box-out {
  height: 500px;
  width: 450px;
  border: 1px solid var(--text-color);
  border-radius: 7px;
}

.sign-box-in {
  width: 370px;
  height: 410px
}

.input-box {
  height: 55px;
  width: 100%;
  margin-top: 12px;

  font-size: 1.2em;
  font-family: inherit;
  padding-left: 20px;
}

.input-box:hover{
  box-shadow: 0 2px 5px var(--shadow-hover-login);
}

.error-message {
  font-size: 12px;
  font-weight: bold;
  margin-top: 10px;
  border-bottom: 1px solid red;
  display: inline-block;
}



.sign-btn {
  height: 40px;
  width: 80px;

  position: fixed;
  bottom: 5px;
  right: 0px;
  cursor: pointer;
}

.sign-btn:hover {
  background-color: var(--button-hover-login);
}

.shadow {
  resize: none;
  outline: none;
  border: none;
  border-radius: 7px;
  box-shadow: 0 1px 5px var(--shadow-color);
}

.changeScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;

  position: fixed;
  bottom: 5px;
  left: 0px;

  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.1px;
  line-height: 1.5;
  cursor: pointer;
}

.changeScreen:hover {
  color: var(--shadow-hover-login);
}

/* ////////////////////////////////////////////////////////////////////////// */
/*                           Reload animation CSS                             */
/* ////////////////////////////////////////////////////////////////////////// */


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); }
}

.image {
  animation: spin 1s linear infinite;
}

/* ////////////////////////////////////////////////////////////////////////// */
/*                             Load animation CSS                             */
/* ////////////////////////////////////////////////////////////////////////// */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner-animation {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid var(--third-color);
  border-top-color: var(--fourth-color);
  animation: spin 1s linear infinite;
}

.loading-spinner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}